$blue             : #1B8EB9;
$lightblue        : #33C0F5;
$cyan			  : #2FC3DA;
$teal             : #26a59f;

$red			  : #F44747;
$lightred		  : #F04848;
$salmon			  : #F76D6B;
$pink             : #EF5D93;

$magenta          : #D9499A;
$blurple		  : #292249;
$purple		      : #A54ECE;
$light-blurple    : #7e7a92;

$yellow: #FFC522;
$paleyellow: #FFF4D4;

$brown: #8A8064;

$white            : #FFFFFF;
$offwhite         : #F0F0F0;
$lightgreyalpha   : rgba(145,143,140,0.3);
$lightgrey        : #ABA7A7;
$grey             : #918f8c;
$darkgrey         : #666666;
$black            : #404040;

$primaryColor     : $magenta;
$secondaryColor   : $blue;



/*-- Font Weights --*/
$light    : 300;
$book     : 400;
$medium   : 500;
$semibold : 600;
$bold     : 700;

