html {
    font-size: 62.5%; /* Sets base font-size to 10px. For 18px, use 1.8rem, and so on. */
}

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 400;
    color: $black;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;

    a:hover {
        text-decoration: none;
        border-bottom: 2px solid $red;
    }
}

h1 {
    font-size: 8rem;
    line-height: 1.1em;
    margin: 0;

    @include respond-to(large) {
        font-size: 5rem;
    }

    @include respond-to(medium) {
        font-size: 3.5rem;
    }
}

h2 {
    font-size: 5.5rem;

    @include respond-to(large) {
        font-size: 4.5rem;
    }

    @include respond-to(medium) {
        font-size: 3.5rem;
    }
}

h3 {
    font-size: 2.5rem;
    margin: 0.5em 0;

    @include respond-to(medium) {
        font-size: 2rem;
    }
}

h4 {
    margin: 0;
    font-size: 1.8rem;
}

h5 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
}

h6 {
	  font-weight: 600;
    text-transform: uppercase;
    color: $blurple;
    // margin: 0;
    margin: 0.5em 0;
}

.dark-bg {
    color: #fff;

    strong {
        color: $cyan;
    }
}

.light-bg {
    color: $black;

    strong {
        color: $red;
    }
}

.nowrap {
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

span.small-at {
    font-size: 0.7em;
}

aside h2 {
    font-size: 2.4rem;
}

.light {
    font-weight: 300;
}
