{# The base template for ordinary pages. Put shared markup and styles here. #}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <link rel="author" href="/humans.txt" />

    <title>
        {% block title %} Hack@Brown 2016 &mdash; February 6&ndash;7, Brown University {% endblock %}
    </title>

    {% block head_css %}
    <!-- Stylesheets -->
    <link rel='stylesheet' href='/static/css/main.css' /> 
    {% endblock %}

    <!-- Social Data -->
    <!-- 
        These meta tags allow our site to be scraped by facebook (og) and twitter respectively.
        make sure you update them for your site!
    -->
    <meta property="og:title" content="Hack@Brown 2016" />
    <meta property="og:url" content="https://2016.hackatbrown.org" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Hack@Brown 2016" />
    <meta property="og:description" content="Make, Play, Learn. Join us and 400 of your friends
        from February 6-7 for Brown's annual 24 hour hackathon." />
    <meta property="og:image" content="https://2016.hackatbrown.org/static/img/og_image.png" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Hack@Brown 2016">
    <meta name="twitter:description" content="Make, Play, Learn. Join us and 400 of your friends
        from February 6-7 for Brown's annual 24 hour hackathon.">
    <meta name="twitter:creator" content="@hackatbrown">
    <meta name="twitter:image" content="https://2016.hackatbrown.org/static/img/og_image.png?1">
    <meta name="twitter:domain" content="hackatbrown.org">
    <meta name="twitter:site" content="@hackatbrown">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon" />

    {% endblock %}
</head>

<body>
    {% block nav %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
{% block domJS %}
{% endblock %}
</html>
